<!-- ABOUT ME -->
<section id="about-me">
    <div class="container">
        <div class="row content-container">
            <div class="col img-content">   
                <img src="../../../../assets/profile-photo.jpg" alt="ProfilePhoto">
            </div>
            <div class="col content-info">
                <h1 class="mt-0">Hola!</h1>
                <p>Soy desarrollador trainee. Actualmente estoy participando en Argentina Programa y realizando cursos de capacitacion en: Educacion IT (Javascript desde cero), Freecodecamp.org (algoritmos de JavaScript y Estructuras de datos) y Diseño Web Responsivo. Estoy buscando introducirme al mundo laboral en desarrollo web.</p>
            </div>
        </div>
    </div>
</section>