<section id="edu">
    <div class="container">
        <div class="row">
            <h1> Educacion</h1>
            <div class="col-lg-11">
                <ul>
                    <li>
                        <h2> educacion 1</h2>
                        <h3> years</h3>
                        <p> Lorem ipsum dolor sit amet, 
                            consectetur adipisicing elit.
                            Accusamus ipsum repudiandae,
                            soluta dicta explicabo, 
                            alias architecto inventore 
                            ipsa deserunt cum quis velit 
                            quam minus rerum cupiditate, 
                            aut blanditiis. Cupiditate, iste!
                        </p>
                    </li>
                    <li>
                        <h2> educacion 2</h2>
                        <h3> years</h3>
                        <p> Lorem ipsum dolor sit amet, 
                            consectetur adipisicing elit.
                            Accusamus ipsum repudiandae,
                            soluta dicta explicabo, 
                            alias architecto inventore 
                            ipsa deserunt cum quis velit 
                            quam minus rerum cupiditate, 
                            aut blanditiis. Cupiditate, iste!
                        </p>
                    </li>
                    <li>
                        <h2> educacion 3</h2>
                        <h3> years</h3>
                        <p> Lorem ipsum dolor sit amet, 
                            consectetur adipisicing elit.
                            Accusamus ipsum repudiandae,
                            soluta dicta explicabo, 
                            alias architecto inventore 
                            ipsa deserunt cum quis velit 
                            quam minus rerum cupiditate, 
                              aut blanditiis. Cupiditate, iste!
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    </section>
