<!-- BARRA DE NAVEGACION -->
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-dark">
        <div class="container">
            <a href="https://argentinaprograma.inti.gob.ar/" class="navbar-brand me-2"><img src="../../../../assets/APLogo-20-20.png" alt="APLOGO" id="logoAP" width="100" height="60"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a routerLink="/src/app/componente/header/aboutme/aboutme.component.html" class="nav-link">Quien soy </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../content/experience/experience.component.html">Experiencia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="skills">Educacion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../content/progress-bar/progress-bar.component.html">Habilidades</a>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-light">Ingresar</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>