<!-- BANNER -->
<section id="hero">
    <div class="container">
        <h1>Luciano Nicolas</h1>
        <h1>Ferrero</h1>
        <h2>Técnico Informático</h2>
    </div>
</section>
<!-- ABOUT ME -->
<section id="about-me">
    <div class="container">
        <img class="rounded-top card-img-top" style="width:auto;" src="../../../../assets/banner3.png" alt="top-img-profile">
        <div class="position-relative profile">
            <img class=" rounded-circle"style='width: 200px;'src="../../../../assets/profile-photo.jpg" alt="ProfilePhoto">
        </div>
        <div class="text-content">
            <div class="d-flex justify-content-between align-center">
                <h2>Desarrollador full stack</h2><i class="fa-solid fa-pen"></i>
            </div>
            <h3 class="location">Buenos Aires, Argentina</h3>
            <div class="d-flex justify-content-between align-center">
                <h2>Hola!</h2><i class="fa-solid fa-pen"></i>
            </div>
            <p>Soy desarrollador trainee. Actualmente estoy participando en Argentina Programa y realizando cursos de capacitacion en: Educacion IT (Javascript desde cero), Freecodecamp.org (algoritmos de JavaScript y Estructuras de datos) y Diseño Web Responsivo. Estoy buscando introducirme al mundo laboral en desarrollo web.</p>
        </div>
    </div>
</section>