<section id="skills">
  <div class="container">
    <div class="title-content">
      <h2>Hard y Soft Skills</h2><i class="fa-solid fa-pen"></i>
    </div>
    <div class=" row content-info">
      <div class="col-sm">
        <h3>HMTL</h3>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
        </div>
        <h3>CSS</h3>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
        </div>
        <h3>Java Script</h3>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
        </div>
      </div>
      <div class="col-sm">
        <h3>• Predisposicion al aprendizaje</h3>
        <h3>• Motivador con iniciativa</h3>
        <h3>• Proactivo</h3>
        <h3>• compromiso</h3>
        <h3>• Trabajo en equipo</h3>
        <h3>• Ingles: Intermedio</h3>
        <h3>• Portugues: básico</h3>
      </div>
    </div>
  </div>
</section>