section{
    background-color:#b3c0c9;
}

.container{
    padding: 10vh 0;
}
.title-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-info{
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.progress{
    margin-bottom: 30px;
}

@media (max-width: 768px){
    .container{
        text-align: center;
    }
}
