<section id="experiencia">
    <div class="container">
        <div class="row">
            <div class="content">
                <h2> Experiencia Laboral</h2><i class="fa-solid fa-pen"></i>
            </div>
            <div class="col-lg-11">
                <ul>
                    <li>
                        <h3> Cat - Technologies</h3>
                        <h4> years</h4>
                        <p> Lorem ipsum dolor sit amet, 
                            consectetur adipisicing elit.
                            Accusamus ipsum repudiandae,
                            soluta dicta explicabo, 
                            alias architecto inventore 
                            ipsa deserunt cum quis velit 
                            quam minus rerum cupiditate, 
                            aut blanditiis. Cupiditate, iste!
                        </p>
                    </li>
                    <li>
                        <h3> SANGALO</h3>
                        <h4> years</h4>
                        <p> Lorem ipsum dolor sit amet, 
                            consectetur adipisicing elit.
                            Accusamus ipsum repudiandae,
                            soluta dicta explicabo, 
                            alias architecto inventore 
                            ipsa deserunt cum quis velit 
                            quam minus rerum cupiditate, 
                            aut blanditiis. Cupiditate, iste!
                        </p>
                    </li>
                    <li>
                        <h3> Compass Group</h3>
                        <h4> years</h4>
                        <p> Lorem ipsum dolor sit amet, 
                            consectetur adipisicing elit.
                            Accusamus ipsum repudiandae,
                            soluta dicta explicabo, 
                            alias architecto inventore 
                            ipsa deserunt cum quis velit 
                            quam minus rerum cupiditate, 
                            aut blanditiis. Cupiditate, iste!
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
</section>